<!DOCTYPE html>
<html lang="en" ng-app="myApp">
{% include 'head.html' %}
<body ng-controller="ChessCtrl">

<div chess-board
     style="width: 400px"
     chess-id="chessBoard"
     piece-hashes="piece_hashes"
     configs="{
            dropOffBoard: 'trash',
            sparePieces: true,
            position:''
         }"
></div>
<div ng-bind="fen" style="margin-bottom: 20px;"></div>
<button ng-click="startPositionBoard('chessBoard')">Start Position</button>
<button ng-click="getFen('chessBoard')">Get FEN</button>
<button ng-click="clearBoard('chessBoard')">Clear</button>
<a href="/">back to main page</a>
</body>
{% include 'scripts.html' %}
</html>